body{
    margin: 0;
    background: linear-gradient(#c9e5e9, #ccddf9);
}
.tp{
    background: linear-gradient(#1773e4, #48d);
    padding: 100px;
    font-size: 20px;
    border-radius: 30px;
    justify-content: center;
}
.container {
    padding: 230px;
    background: linear-gradient(#c9e5e9, #447cd7);
    color: #eee;
    border-radius: 30px;
  }
  .button{
    margin: 25px 0 0 0;
    border: none;
    background: #22b877;
    line-height: 200%;
    border-radius: 10px;
    font-size: 19px;
    color: #fff;
    cursor: pointer;
    width: 100%;
    transition: all .2s ease;

  }
  .button:hover{
    background: #27025377;

  }